html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Shantell Sans', cursive;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: bold;
}

.logo-img {
    float: left;
    width: 100px;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #6B793E;
    color: white;
    min-width: 260px;
}

.btn-sand {
    background: #B97A50;
    color: white;
}

.btn-outline-green {
    background: white;
    color: #83944C !important; /* use important to override link colors for <a> elements */
    border: 1px solid #83944C;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #83944C;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-sand:hover,
.btn-sand:active,
.btn-sand:focus {
    background: #222;
    color: white;
}

.text-green {
    color: #6B793E !important
}

.border-black {
    border: 1px solid black !important;
}

.bg-green {
    background: #6B793E !important;
}

.text-info {
    color: #83944C !important;
}

.text-dgreen {
    color: #11372E !important;
}

.text-danger {
    color: #B97A50 !important;
}


/* Navbar */

header, footer {
    background-color: #E9EDC9;
}

.navbar {
    flex-direction: column;
}

.phone-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.navbar-toggler {
    display: flex;
    align-self: center;
}

.phone-view ul {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: right;
    margin-bottom: 0;
}

.search-bar {
    min-width: 20rem;
    left: auto;
    right: 0px;
}

.dropdown-menu.show {
    background-color: inherit;
}

.dropdown-menu {
    background-color: #E9EDC9!important;
}

.dropdown-item:hover {
    background-color: #CCD5AE;
}

a.cat-link {
    color: #6B793E;
}

/* Footer */
.footer-img {
    width: 100px;
}

.social-link {
    font-size: 30px;
    color: #6B793E;
}

.social-link:hover {
    box-shadow: 4px 4px 3px 1px rgb(0 0 0 / 20%);
    cursor: pointer;
}

/* MailChimp Sucribe Form */
#mc-embedded-subscribe{
    border: none;
}

#mc_embed_signup .helper_text {
    background-color: #E9EDC9 !important;
}



/*****************/
/*   Home page   */
/*****************/

.carousel {
    height: 400px;
}

.carousel-inner {
    height: inherit;
}

.carousel-item {
    height: inherit;
}

.carousel-img1 {
    background: url('../images/carousel-one.webp') no-repeat center center;
    background-size: cover;
}

.carousel-img2 {
    background: url('../images/carousel-two.webp') no-repeat center center;
    background-size: cover;
}

.carousel-img3 {
    background: url('../images/carousel-three.webp') no-repeat center center;
    background-size: cover;
}

.carousel-caption {
    width: 100%;
    right: 0;
    bottom: 0px;
    left: 0;
    padding-bottom: 20px;
    background-color: rgb(204, 213, 174, 74%);
}

.content-container {
    padding-bottom: 35px;
}

.intro-text {
    font-size: large;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--short {
    width: 35px;
}


/*****************/
/* Products page */
/*****************/

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.product-hr {
    width: 5%;
    text-align: center;
}

a.category-badge > span.badge:hover {
    background: #FAEDCD !important;
}

.border {
    border: 1px solid #FAEDCD!important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.card-img-top {
    height: 220px;
    width: auto;
}


/*****************/
/* Products Form */
/*****************/

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0 !important;
    border-color: #83944C !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #83944C;
    border-color: #83944C;
    border-radius: 0;
}


/*****************/
/*   Bag page    */
/*****************/

.qty_input {
    text-align: center;
}




/* ------------------------------- bootstrap toasts */



/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #83944C; /* text-info */
}

/********************/
/**** INFO PAGES ****/
/********************/

/* Faqs */
.faqs-btn {
    outline: none !important;
    box-shadow: none !important;
    color: #83944C;
}


/********************/
/**** NEWS PAGES ****/
/********************/

/* News */
.delete-news {
    background-color: transparent;
    border: none;
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
    
    .nav-flex {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}

@media (max-width: 1200px) {    
    .nav-flex {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }
}

@media (max-width: 431px) {
    .phone-view {
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
    }

    .phone-view ul {
        padding-left: 0;
        display: contents;
    }

    .list-inline-item > a.text-green.nav-link {
        padding: 0.5rem 0rem !important;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    body {
        height: calc(100vh - 116px);
    }

    .collapse-menu {
        display: flex;
        align-self: flex-start;
    }

    ul .navbar-nav {
        text-align: center !important;
    }
    
    .nav-flex {
        display: contents;
    }

    .logo-font.text-green {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.5rem 0rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

@media (max-width: 1048px) {
    .nav-flex {
        display: contents;
    }
}
