/* Credit: Rathan Kumar's YouTube Tutorial 
   https://www.youtube.com/watch?v=gDtsAWMA3Jo */

/* Hide Radio button */
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
    color: #E9EDC9;
}

.rate > label {
    float: right;
}

/* Showing the stars */
.rate > label:before {
    display: inline-block;
    font-size: 1.5em;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3em .2em;
    cursor: pointer;
}

/* Half star */
.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and hover */
input:checked~label,
label:hover~label {
    color:#6B793E;
}

/* hover highlight */
input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color:#B97A50;
}

.rating-star i {
    color: #6B793E !important;
}