<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Muslins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Cotton Muslins</a>
                <a href="" class="dropdown-item">Cotton & Bamboo Muslins</a>
                <a href="" class="dropdown-item">Premium Soft Muslins</a>
                <a href="" class="dropdown-item">All Muslins</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pacifier chains
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Mini pacifier chains</a>
                <a href="" class="dropdown-item">Personalised pacifier chains</a>
                <a href="" class="dropdown-item">Pacifier holder case</a>
                <a href="" class="dropdown-item">All Pacifiers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teethers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Stroller Chain Teethers</a>
                <a href="" class="dropdown-item">Teether Toy Figures</a>
                <a href="" class="dropdown-item">All Teethers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More pretty things
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Bibs</a>
                <a href="" class="dropdown-item">Breastfeeding Necklaces</a>
                <a href="" class="dropdown-item">Personalised Keyrings</a>
                <a href="" class="dropdown-item">Bracelets</a>
                <a href="" class="dropdown-item">All Pretty Things</a>
            </div>
        </li>
    </ul>
</div>