{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/rating.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2 class="logo-font mb-2">{{ product.name }}</h2>
                <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if ratings %}
                {% for values in ratings.values %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ values }} / 5</small>
                {% endfor %}
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <p class="mt-3">{{ product.description | safe }}</p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_colour as c %}
                        {% if c %}
                        <div class="col-12">
                            <p><strong>Colour:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_colour" id='id_product_colour'>
                                <option value="blue">Blue</option>
                                <option value="darkgreen" selected>Dark Green</option>
                                <option value="pink">Pink</option>
                                <option value="green" selected>Green</option>
                                <option value="turquoise">Turquoise</option>
                                <option value="orange">Orange</option>
                                <option value="brown">Brown</option>
                                <option value="grey">Grey</option>
                                <option value="balck">Black</option>
                            </select>
                        </div>
                        {% endif %}
                        <!-- Product Quantity -->
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sand rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sand rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if c %}-12 mt-2{% endif %}">
                            <a href="{% url 'products' %}" class="btn btn-outline-green rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-sand rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Review -->
<div class="container">
    <!-- Users Reviews -->
    <div class="row my-2 justify-content-md-center">
        {% if reviews %}
        {% for review in reviews %}
        {% if review.approved %}
        <div class="col col-lg-10">
            <!-- Number of Reviews -->
            <h4 class="text-green">Reviews ({{total_reviews}})</h4>
        </div>
        <div class="col col-lg-10 text-center mt-2 mb-5">
            <div class="card">
                <div class="card-title px-2 pt-2 pb-0">
                    <p class="text-left mb-0 font-weight-bold float-left">
                        <span class="text-capitalize">{{ review.user }}</span> - {{review.created_on}}
                    </p>
                    <!-- User Stars from Rathan Kumar's YouTube Tutorial https://www.youtube.com/watch?v=eIN1nZCt7Ww -->
                    <div class="rating-star float-right">
                        <span>
                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="card-body px-2 pb-2 pt-0">
                    <p class="text-left">{{ review.review }}</p>
                    {% if request.user == review.user or request.user.is_superuser %}
                    <a class="text-green" href="{% url 'edit_review' review.id %}">Edit</a> |
                    <a class='text-danger' href="{% url 'delete_review' review.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="col col-lg-10">
            <h4 class="text-green">No reviews yet.</h4>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <!-- Add your review -->
    <div class="row justify-content-md-center my-2">
        <div class="ml-4 mr-4 col-lg-10 pt-5">
            {% if user.is_authenticated %}
            <h4 class="text-green mb-4">Add your review</h4>
            <form method="POST" action="{% url 'add_review' product.id %}">
                {{ form | crispy }}
                {% csrf_token %}
                <textarea name="review" id="review" class="form-control review-box" cols="10" rows="5"></textarea>
                <!-- Rating Stars from Rathan Kumar's YouTube Tutorial https://www.youtube.com/watch?v=Zkmu93lMLPs -->
                <div class="col py-3">
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5" required checked="checked"><label for="rating10" title="5"></label>
                        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="rating9" title="4.5" class="half"></label>
                        <input type="radio" name="rating" id="rating8" value="4" required><label for="rating8" title="4"></label>
                        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="rating7" title="3.5" class="half"></label>
                        <input type="radio" name="rating" id="rating6" value="3" required><label for="rating6" title="3"></label>
                        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="rating5" title="2.5" class="half"></label>
                        <input type="radio" name="rating" id="rating4" value="2" required><label for="rating4" title="2"></label>
                        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="rating3" title="1.5" class="half"></label>
                        <input type="radio" name="rating" id="rating2" value="1" required><label for="rating2" title="1"></label>
                        <input type="radio" name="rating" id="rating1" value="0.5" required><label for="rating1" title="0.5" class="half"></label>
                    </div>
                </div>
                <div class="col text-center">
                    <button class='btn btn-sand mb-5 mt-3' type="submit">Submit Review</button>
                    <button class='btn btn-sand mb-5 mt-3' type="reset">Reset Review</button>
                </div>
            </form>
            {% else %}
            <!-- User not logged in -->
            <div class="text-coffee">
                <p>You need to logged in to leave a review.</P>  
                <a href="{% url 'account_login' %}" class="btn btn-sand rounded-1">Login Here</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}