{% extends "base.html" %} {% load static %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" />
{% endblock %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container my-5">
  <div class="row">
    <div class="col">
      <h2 class="logo-font my-4 text-center"><strong>About Us</strong></h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
      <p>
        Welcome to our shop! My name is Alba, and I am a mother of two wonderful
        boys - one and four years old. As a mother, I understand how important
        it is to have <strong>high-quality</strong>, <strong>safe</strong>, and <strong>practical products</strong> for your little
        ones. That's why I started this business - to provide <strong>parents</strong> like you
        with <strong>personalised baby products</strong> that not only meet your needs but also
        reflect your unique <strong>style</strong> and <strong>personality</strong>.
      </p>
      <p>
        I have always had a passion for design and creating things, and this
        passion only grew stronger when I became a mother. I started making
        <strong>personalised baby products</strong> for my own children, and soon enough, family
        and friends were asking me to make products for their little ones too.
        That's when I realised that there was a need for personalised baby
        products that were both practical and stylish.
      </p>
      <p class="text-center">
        <img class="mb-2 w-50" src="{{ MEDIA_URL }}logo-mpc.webp" alt="Mi primera cajita Logo">
      </p>
      <p>
        At our shop, we believe that every child is unique, and their
        <strong>accessories</strong> should reflect that. That's why we offer a wide range of
        customisable products, including <strong>pacifier</strong> and <strong>teether cords</strong>, <strong>bibs</strong>,
        <strong>muslins</strong>, and <strong>cases to store pacifiers and teethers</strong>. All our products are
        made with love and care, and we only use <strong>high-quality</strong>, <strong>safe materials</strong>.
      </p>
      <p>
        We understand that as a parent, you want the best for your <strong>child</strong>, and
        that's what we strive to provide - products that are not only <strong>functional</strong>
        but also <strong>beautiful</strong> and <strong>unique</strong>. Thank you for choosing our shop, and we
        look forward to helping you create personalised products that you and
        your little ones will love.
      </p>
    </div>
  </div>
</div>
{% endblock %} {% block postloadjs %} {{ block.super }}
<script
  type="text/javascript"
  src="{% static 'profiles/js/countryfield.js' %}"
></script>
{% endblock %}
